:root {
  --sn-blue: #3472d8;
  --sn-light-blue: #99b8eb;
  --color-checker-dark-grey: #303131;
  --color-checker-light-grey: #e9e9e9;
}

#colour-checker-app {
  font-family: "GT America", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
}

@media (min-width: 992px) {
  #colour-checker-app {
    font-size: 1.25rem;
    line-height: 25px;
  }
}
